<!DOCTYPE html>
<html>
    <head>
        <style>
body {
    font: normal 12px Verdana, Arial, sans-serif;
}

  .newPage{
    size: 21cm 29.7cm;
    margin: 2mm 10mm 27mm 16mm;
    border-style: solid;
  border-width: 1.5px;
    /* change the margins as you want them to be. */
   }

   .logo{
   color:#0033cc;
   }

   .blueBG{
   	background-color:DodgerBlue;
    color:white;
    margin:0;
   }

   .blueText{
   	color:DodgerBlue;

    margin-top: 10px;
    margin-bottom: 10px;

   }

    table{
    	width:100%;
      border-style: solid 1px;
    }

        .td_1col{
      width: 100px;
    }

    .formbox {
            margin:auto 0;
            text-align: left;
        }

      .txtFill{
        font-family: 'Courier New', Courier, monospace;
        font-size: small;
        color:gray;
      }
        </style>

    </head>
    <body>
      <div class = 'newPage'>
      <table >
      	<tr>
          <td><p class='logo alignLeft'>FundConnext</p></td>
          <td><p class='alignRight'> วันที่ Date </p></td>
        </tr>
        </table>

          <p class='blueBG'>
          1. ข้อมูลส่วนบุคคลสำหรับประกอบการเปิดบัญชีกองทุนรวม Personal Information - For Mutual Fund Account
          </p>
          <table>
          <tr>
            <td class="td_1col">ประเภทบัตร*ID Type</td>
            <td>
              <% if (obj.data.data.identificationCardType == "CITIZEN_CARD") { %>
                <input type="checkbox"  id="idcard" checked>
              <%} else {%>
                <input type="checkbox" id="idcard" >
              <%}%>
                <label for="idcard"> บัตรประชาชน ID Card</label>
            </td>
            <td colspan="2">
              <% if (obj.data.data.identificationCardType == "GOVERNMENT_ID") { %>
              <input type="checkbox" id="govid" checked>
              <%} else {%>
              <input type="checkbox" id="govid">
              <%}%>
              <label for="govid"> บัตรข้าราชการ / รัฐวิสาหกิจ Government ID / State Enterprise ID</label>
            </td>
          </tr>

          <tr>
            <td class="td_1col">&nbsp;</td>
            <td>
              <% if (obj.data.data.identificationCardType == "DRIVER_LICENSE") { %>
                <input type="checkbox"  id="driver" checked>
              <%} else {%>
                <input type="checkbox" id="driver">
              <%}%>
                <label for="driver">ใบขับขี่ Driver License</label>
            </td>

            <td colspan="2">
              <% if (obj.data.data.identificationCardType == "ALIEN_CARD") { %>
              <input type="checkbox" id="forien" checked>
              <%} else {%>
              <input type="checkbox" id="forien">
              <%}%>
              <label for="forien">บัตรคนต่างด้าว Alien Registration Card</label>
            </td>
          </tr>
          <tr>
            <td lass="td_1col"></td>
            <td colspan="3">
              <div>เลขที่ No. ...<%=obj.data.data.cardNumber %></div>
              <div>วันหมดอายุ(ค.ศ.) Expiry Date: (ฺA.D.)...<%=obj.data.data.cardExpiryDate.formatted %>...
                <input type="checkbox" id="exp_date" >
                <label for="exp_date">บัตรตลอดชีพ Not Expired</label>
              </div>

            </td>
          </tr>
          <tr>
            <td class="td_1col"></td>
            <td colspan="3">
              <% if (obj.data.data.identificationCardType == "PASSPORT") { %>
                <input type="checkbox" id="passport"  checked>
                <label for="passport">พาสปอร์ต Passport &nbsp;&nbsp;&nbsp; ประเทศที่ออก Issuing Country...<%=obj.data.data.passportCountry %>...</label>
                <br>
                <div>เลขที่ No..<%=obj.data.data.cardNumber %>...วันหมดอายุ(ค.ศ.) Expiry Date: (ฺA.D.)...<%=obj.data.data.cardExpiryDate.formatted %>...</div>

                <%} else {%>
                <input type="checkbox" id="passport" >
                <label for="passport">พาสปอร์ต Passport &nbsp;&nbsp;&nbsp; ประเทศที่ออก Issuing Country...............</label>
                <br>
                <div>เลขที่ No...............วันหมดอายุ(ค.ศ.) Expiry Date: (ฺA.D.)...............</div>
                <%}%>

            </td>
          </tr>

        </table>


      <div class="row  Gender">
        <table>
          <tr>
            <td class="td_1col">เพศ Gender*</td>
            <td colspan="3" class="formbox">
              <% if (obj.data.data.gender.key == "Male") { %>
                <input type="checkbox" id="Male" checked>
              <%} else{%>
                <input type="checkbox" id="Male" >
              <%}%>
                <label for="Male">ชาย Male</label>
                &nbsp;&nbsp;&nbsp;

                <% if (obj.data.data.gender.key == "Female") { %>
                  <input type="checkbox" id="Female" checked>
                <%} else{%>
                  <input type="checkbox" id="Female" >
                <%}%>
                <label for="Female">หญิง Female</label>
            </td>
          </tr>
        </table>
      </div>

      <div class="row  title">
        <table>
          <tr>
            <td class="td_1col">คำนำหน้า Title*</td>
            <td>
              <% if (obj.data.data.title.key == "MR") { %>
                <input type="checkbox" id="MR" checked>
              <%}else{%>
                 <input type="checkbox" id="MR" >
               <%}%>
                <label  for="MR">นาย Mr.</label>
                &nbsp;
                <% if (obj.data.data.title.key == "MRS") { %>
                  <input type="checkbox" id="MRS" checked>
                <%}else{%>
                   <input type="checkbox" id="MRS" >
                 <%}%>
                  <label  for="MRS">นาง Mrs.</label>
                  &nbsp;
                  <% if (obj.data.data.title.key == "MISS") { %>
                    <input type="checkbox" id="MISS" checked>
                  <%}else{%>
                     <input type="checkbox" id="MISS" >
                   <%}%>
                    <label  for="MISS">นางสาว Miss</label>
                    &nbsp;
                    <% if (obj.data.data.title.key == "OTHER") { %>
                      <input  type="checkbox" id="oth" name="oth" value="oth" checked>
                      <label  for="oth">อื่นๆ Other ...<%= obj.data.data.titleOther %>...</label>
                    <%}else{%>
                      <input  type="checkbox" id="oth" name="oth" value="oth">
                      <label  for="oth">อื่นๆ Other .................</label>
                     <%}%>

            </td>
          </tr>
        </table>
      </div>

      <div class="row name">
        <table>
        <tr>
          <td>ชื่อ - นามสกุล (ภาษาไทย)* ...<%= obj.data.data.thFirstName %> <%= obj.data.data.thLastName %> </td>
          <td style="width: 40%;">มือถือ Mobile* ...<%= obj.data.data.mobileNumber %> </td>
        </tr>

        <tr>
          <td>Name - Surname (English)* ... <%= obj.data.data.enFirstName %> <%= obj.data.data.enLastName %>  </td>
          <td>อีเมล์E-mail ... <%= obj.data.data.email %></td>
        </tr>

        <tr>
          <td >
            วันเดือนปีเกิด (ค.ศ.) Date of Birth (ฺA.D.)* ...<%= obj.data.data.birthDate.formatted %>...
            </td>
          <td>
            สัญชาติ Nationality* ... <%= obj.data.data.nationality %>...
          </td>
        </tr>

        <tr>
          <td colspan="2">
            คสถานภาพ Marital Status*

            <% if (obj.data.data.familyInfo.maritalStatus.key == "Single") { %>
            <input  type="checkbox" id="Single" checked>
            <%}else{%>
              <input  type="checkbox" id="Single" >
              <%}%>
            <label  for="Single">โสด Single</label>
            &nbsp;
            <% if (obj.data.data.familyInfo.maritalStatus.key == "Married") { %>
            <input  type="checkbox" id="Married" checked >
            <%}else{%>
            <input  type="checkbox" id="Married" >
            <%}%>
            <label  for="Married">สมรส Married</label>
            &nbsp;
            <% if (obj.data.data.familyInfo.maritalStatus.key == "Divorced") { %>
            <input  type="checkbox" id="Divorced" >
            <%}else{%>
            <input  type="checkbox" id="Divorced" >
            <%}%>
            <label  for="Divorced">หย่า Divorced</label>
            &nbsp;
            <% if (obj.data.data.familyInfo.maritalStatus.key == "Widowhood") { %>
            <input  type="checkbox" id="Widowhood" checked>
            <%}else{%>
            <input  type="checkbox" id="Widowhood" >
            <%}%>
            <label  for="Widowhood">หม้าย Widowed</label>
          </td>
        </tr>

      </table>
      </div>


      <!--SPOUSE-->
      <div class="blueText">ข้อมูลคู่สมรส (ถ้ามี) Spouse Information (if any)</div>

      <!--SP ID Type-->
       <div class="row SP_ID_TYPE">
        <table>
          <tr>
            <td class="td_1col">ประเภทบัตร*ID Type</td>
            <td>
              <% if (obj.data.data.spouse && obj.data.data.spouse.identificationCardType == "CITIZEN_CARD") { %>
                <input type="checkbox"  id="idcard" checked>
              <%} else {%>
                <input type="checkbox" id="idcard" >
              <%}%>
                <label for="idcard"> บัตรประชาชน ID Card</label>
            </td>
            <td colspan="2">
              <% if (obj.data.data.spouse && obj.data.data.spouse.identificationCardType == "GOVERNMENT_ID") { %>
              <input type="checkbox" id="govid" checked>
              <%} else {%>
              <input type="checkbox" id="govid">
              <%}%>
              <label for="govid"> บัตรข้าราชการ / รัฐวิสาหกิจ Government ID / State Enterprise ID</label>
            </td>
          </tr>

          <tr>
            <td class="td_1col">&nbsp;</td>
            <td>
              <% if (obj.data.data.spouse && obj.data.data.spouse.identificationCardType == "DRIVER_LICENSE") { %>
                <input type="checkbox"  id="driver" checked>
              <%} else {%>
                <input type="checkbox" id="driver">
              <%}%>
                <label for="driver">ใบขับขี่ Driver License</label>
            </td>

            <td colspan="2">
              <% if (obj.data.data.spouse && obj.data.data.spouse.identificationCardType == "ALIEN_CARD") { %>
              <input type="checkbox" id="forien" checked>
              <%} else {%>
              <input type="checkbox" id="forien">
              <%}%>
              <label for="forien">บัตรคนต่างด้าว Alien Registration Card</label>
            </td>
          </tr>
          <tr>
            <td lass="td_1col"></td>
            <td colspan="3">
              <div>เลขที่ No. ...<%=obj.data.data.spouse ? obj.data.data.spouse.cardNumber:''  %></div>
              <div>วันหมดอายุ(ค.ศ.) Expiry Date: (ฺA.D.)...<%= obj.data.data.spouse ? obj.data.data.spouse.cardExpiryDate.formatted:'' %>...
                <input type="checkbox" id="exp_date" >
                <label for="exp_date">บัตรตลอดชีพ Not Expired</label>
              </div>

            </td>
          </tr>
          <tr>
            <td class="td_1col"></td>
            <td colspan="3">
              <% if (obj.data.data.spouse && obj.data.data.spouse.identificationCardType == "PASSPORT") { %>
                <input type="checkbox" id="passport"  checked>
                <label for="passport">พาสปอร์ต Passport &nbsp;&nbsp;&nbsp; ประเทศที่ออก Issuing Country...<%=obj.data.data.spouse.passportCountry %>...</label>
                <br>
                <div>เลขที่ No..<%=obj.data.data.spouse.cardNumber %>...วันหมดอายุ(ค.ศ.) Expiry Date: (ฺA.D.)...<%=obj.data.data.spouse.cardExpiryDate.formatted %>...</div>

                <%} else {%>
                <input type="checkbox" id="passport" >
                <label for="passport">พาสปอร์ต Passport &nbsp;&nbsp;&nbsp; ประเทศที่ออก Issuing Country...............</label>
                <br>
                <div>เลขที่ No...............วันหมดอายุ(ค.ศ.) Expiry Date: (ฺA.D.)...............</div>
                <%}%>

            </td>
          </tr>
        </table>
        </div>  <!--SP_ID_TYPE-->

          <!--SP title-->
          <div class="row spouse_title">
            <table>
              <tr>
                <td class="td_1col">คำนำหน้า Title*</td>
                <td>
                  <% if ( obj.data.data.spouse && obj.data.data.spouse.title.key == "MR") { %>
                    <input type="checkbox" id="MR" checked>
                  <%}else{%>
                     <input type="checkbox" id="MR" >
                   <%}%>
                    <label  for="MR">นาย Mr.</label>
                    &nbsp;
                    <% if (obj.data.data.spouse && obj.data.data.spouse.title.key == "MRS") { %>
                      <input type="checkbox" id="MRS" checked>
                    <%}else{%>
                       <input type="checkbox" id="MRS" >
                     <%}%>
                      <label  for="MRS">นาง Mrs.</label>
                      &nbsp;
                      <% if (obj.data.data.spouse && obj.data.data.spouse.title.key == "MISS") { %>
                        <input type="checkbox" id="MISS" checked>
                      <%}else{%>
                         <input type="checkbox" id="MISS" >
                       <%}%>
                        <label  for="MISS">นางสาว Miss</label>
                        &nbsp;
                        <% if (obj.data.data.spouse && obj.data.data.spouse.title.key == "OTHER") { %>
                          <input  type="checkbox" id="oth" name="oth" value="oth" checked>
                          <label  for="oth">อื่นๆ Other ...<%= obj.data.data.titleOther %>...</label>
                        <%}else{%>
                          <input  type="checkbox" id="oth" name="oth" value="oth">
                          <label  for="oth">อื่นๆ Other .................</label>
                         <%}%>

                </td>
              </tr>
            </table>
          </div>

          <div class="row sp_name">
            <table>
            <tr>
              <td>ชื่อ - นามสกุล Name - Surname* ...<%= obj.data.data.spouse? obj.data.data.spouse.thFirstName:'' %> <%= obj.data.data.spouse? obj.data.data.spouse.thLastName:'' %> </td>
              <td style="width: 40%;">โทรศัพท์ Telephone ...<%= obj.data.data.spouse? obj.data.data.spouse.mobileNumber:'' %> </td>
            </tr>

            </table>
            </div>

      <!--CHILDREN-->
<div class="blueText">จำนวนบุตรหรือบุตรบุญธรรมที่ยังไม่บรรลุนิติภาวะ (อายุไม่ถึง 20 ปีและ ยังไม่ได้สมรส)</div>
<div class="blueText">Number of children who is under 20 and not married</div>


  <%
      for (i in obj.data.data.children) {

      child = obj.data.data.children[i]
  %>
            <!---Child #1-->
            <div class="row CH_ID_TYPE">
              <table>
                <tr>
                  <td class="td_1col">ประเภทบัตร*ID Type</td>
                  <td>
                    <% if (child.identificationCardType == "CITIZEN_CARD") { %>
                      <input type="checkbox"  id="idcard" checked>
                    <%} else {%>
                      <input type="checkbox" id="idcard" >
                    <%}%>
                      <label for="idcard"> บัตรประชาชน ID Card</label>
                  </td>
                  <td colspan="2">
                    <% if (child.identificationCardType == "ALIEN_CARD") { %>
                    <input type="checkbox" id="forien" checked>
                    <%} else {%>
                    <input type="checkbox" id="forien">
                    <%}%>
                    <label for="forien">บัตรคนต่างด้าว Alien Registration Card</label>
                  </td>
                </tr>

                <tr>
                  <td lass="td_1col"></td>
                  <td colspan="3">
                    <div>เลขที่ No. ...<%=child.cardNumber %></div>
                    <div>วันหมดอายุ(ค.ศ.) Expiry Date: (ฺA.D.)...<%= child.idCardExpiryDate %>...
                      <input type="checkbox" id="exp_date" >
                      <label for="exp_date">บัตรตลอดชีพ Not Expired</label>
                    </div>

                  </td>
                </tr>
                <tr>
                  <td class="td_1col"></td>
                  <td colspan="3">
                    <% if (child.identificationCardType == "PASSPORT") { %>
                      <input type="checkbox" id="passport"  checked>
                      <label for="passport">พาสปอร์ต Passport &nbsp;&nbsp;&nbsp; ประเทศที่ออก Issuing Country...<%=child.passportCountry %>...</label>
                      <br>
                      <div>เลขที่ No..<%=child.cardNumber %>...วันหมดอายุ(ค.ศ.) Expiry Date: (ฺA.D.)...<%=child.idCardExpiryDate%>...</div>

                      <%} else {%>
                      <input type="checkbox" id="passport" >
                      <label for="passport">พาสปอร์ต Passport &nbsp;&nbsp;&nbsp; ประเทศที่ออก Issuing Country...............</label>
                      <br>
                      <div>เลขที่ No...............วันหมดอายุ(ค.ศ.) Expiry Date: (ฺA.D.)...............</div>
                      <%}%>

                  </td>
                </tr>
              </table>
              </div>  <!--CH_ID_TYPE-->

          <!--Child title-->
          <div class="row spouse_title">
            <table>
              <tr>
                <td class="td_1col">คำนำหน้า Title*</td>
                <td>
                  <% if ( child.title == "MR") { %>
                    <input type="checkbox" id="MR" checked>
                  <%}else{%>
                     <input type="checkbox" id="MR" >
                   <%}%>
                    <label  for="MR">นาย Mr.</label>
                    &nbsp;
                  <% if (child.title == "MISS") { %>
                    <input type="checkbox" id="MISS" checked>
                  <%}else{%>
                      <input type="checkbox" id="MISS" >
                    <%}%>
                    <label  for="MISS">นางสาว Miss</label>

                </td>
              </tr>
            </table>
          </div>

          <div class="row">
            <div>ชื่อ - นามสกุล Name - Surname* ...<%=child.thFirstName %>... </div>
          </div>

          <div class="row">
            <div>วันเดือนปีเกิด (ค.ศ.) Date of Birth (ฺA.D.) ...<%=child.thLastName %>... </div>
          </div>

<%
    }
%>


     </div> <!-- class = 'newPage'-->

<!--Page 2-->
<div class = 'newPage'>

<p class='blueBG'>2. ที่อยู่ Address</p>

<div class="blueText">ที่อยู่ตามทะเบียนบ้าน / ที่อยู่ในประเทศเจ้าของสัญชาติ Residence Registration Address / Address in home country*</div>

<div>เลขที่ Address No...<small class='txtFill'><%=obj.data.data.residence? obj.data.data.residence.no:'....' %></small>...หมู่ที่ Moo No ..<small class='txtFill'><%=obj.data.data.residence? obj.data.data.residence.moo:'...' %></small>..อาคาร/หมู่บ้าน Building/Mooban..<small class='txtFill'><%=obj.data.data.residence? obj.data.data.residence.villageType.displayName:'...' %></small>..<small class='txtFill'><%=obj.data.data.residence? obj.data.data.residence.building:'...' %></small>..
</div>
<div>ชั้น Floor..<small class='txtFill'><%=obj.data.data.residence? obj.data.data.residence.floor:'...' %></small>..
ซอย Soi ...<small class='txtFill'><%=obj.data.data.residence? obj.data.data.residence.soi:'...' %></small>...
ถนน Road ..<small class='txtFill'><%=obj.data.data.residence? obj.data.data.residence.road:'...' %></small>..</div>
<div>ตำบล Sub-district/Tambon ..<small class='txtFill'><%=obj.data.data.residence? obj.data.data.residence.subDistrict:'...' %></small>.. อำเภอ District/Amphur ..<small class='txtFill'><%=obj.data.data.residence? obj.data.data.residence.district:'...' %></small>..</div>
<div>จังหวัด Province ..<small class='txtFill'><%=obj.data.data.residence? obj.data.data.residence.province:'...' %> </small>..
รหัสไปรษณีย์Postal Code ..<small class='txtFill'><%=obj.data.data.residence? obj.data.data.residence.postalCode:'...' %></small>..
ประเทศ Country ..<small class='txtFill'><%=obj.data.data.residence? obj.data.data.residence.country:'...' %></small>..</div>
<div>โทรศัพท์Telephone ..<small class='txtFill'><%=obj.data.data.residence? obj.data.data.residence.phoneNumber:'...' %></small>.. </div>


<div class="blueText">ที่อยู่ที่ทำงาน Workplace Address*</div>

<%
  if(obj.data.data.workAddressSameAsFlag == 'Residence'){
%>
        <input type="checkbox" id="workAddressSameAsFlag"  checked>
  		  <label for="workAddressSameAsFlag">ตามทะเบียนบ้าน Same as Residence Registration Address</label><br>

        <input type="checkbox" id="workAddressSameAsFlag_oth" checked>
  		  <label for="workAddressSameAsFlag_oth">อื่นๆ (โปรดระบุ) Other (Please specify)</label><br>

<% }else{%>
        <input type="checkbox" id="workAddressSameAsFlag"  checked>
  		  <label for="workAddressSameAsFlag">ตามทะเบียนบ้าน Same as Residence Registration Address</label><br>

        <input type="checkbox" id="workAddressSameAsFlag_oth" checked>
  		  <label for="workAddressSameAsFlag_oth">อื่นๆ (โปรดระบุ) Other (Please specify)</label><br>


        <div>เลขที่ Address No...<small class='txtFill'><%=obj.data.data.work? obj.data.data.work.no:'....' %></small>...หมู่ที่ Moo No ..<small class='txtFill'><%=obj.data.data.work? obj.data.data.work.moo:'...' %></small>..อาคาร/หมู่บ้าน Building/Mooban..<small class='txtFill'><%=obj.data.data.work? obj.data.data.work.villageType.displayName:'...' %></small>..<small class='txtFill'><%=obj.data.data.work? obj.data.data.work.building:'...' %></small>..
        </div>
        <div>ชั้น Floor..<small class='txtFill'><%=obj.data.data.work? obj.data.data.work.floor:'...' %></small>..
        ซอย Soi ...<small class='txtFill'><%=obj.data.data.work? obj.data.data.work.soi:'...' %></small>...
        ถนน Road ..<small class='txtFill'><%=obj.data.data.work? obj.data.data.work.road:'...' %></small>..</div>
        <div>ตำบล Sub-district/Tambon ..<small class='txtFill'><%=obj.data.data.work? obj.data.data.work.subDistrict:'...' %></small>.. อำเภอ District/Amphur ..<small class='txtFill'><%=obj.data.data.work? obj.data.data.work.district:'...' %></small>..</div>
        <div>จังหวัด Province ..<small class='txtFill'><%=obj.data.data.work? obj.data.data.work.province:'...' %> </small>..
        รหัสไปรษณีย์Postal Code ..<small class='txtFill'><%=obj.data.data.work? obj.data.data.work.postalCode:'...' %></small>..
        ประเทศ Country ..<small class='txtFill'><%=obj.data.data.work? obj.data.data.work.country:'...' %></small>..</div>
        <div>โทรศัพท์Telephone ..<small class='txtFill'><%=obj.data.data.work? obj.data.data.work.phoneNumber:'...' %></small>.. </div>

<%}%>


<%
  if(obj.data.data.contactAddressSameAsFlag.key == 'Residence'){
%>
        <input type="checkbox" id="workAddressSameAsFlag_res"  checked>
  		  <label for="workAddressSameAsFlag_res">ตามทะเบียนบ้าน Same as Residence Registration Address</label><br>

        <input type="checkbox" id="contactAddressSameAsFlag_work" name="forien" value="forien">
  		  <label for="contactAddressSameAsFlag_work">ตามที่ทำงาน Same as Workplace Address</label><br>

        <input type="checkbox" id="contactAddressSameAsFlag_oth" >
  		  <label for="contactAddressSameAsFlag_oth">อื่นๆ (โปรดระบุ) Other (Please specify)</label><br>

<% }else if(obj.data.data.contactAddressSameAsFlag.key == 'Work'){%>
        <input type="checkbox" id="workAddressSameAsFlag_res"  >
        <label for="workAddressSameAsFlag_res">ตามทะเบียนบ้าน Same as Residence Registration Address</label><br>

        <input type="checkbox" id="contactAddressSameAsFlag_work" checked>
        <label for="contactAddressSameAsFlag_work">ตามที่ทำงาน Same as Workplace Address</label><br>

        <input type="checkbox" id="contactAddressSameAsFlag_oth" >
        <label for="contactAddressSameAsFlag_oth">อื่นๆ (โปรดระบุ) Other (Please specify)</label><br>

<% }else{%>
        <input type="checkbox" id="workAddressSameAsFlag_res"  >
        <label for="workAddressSameAsFlag_res">ตามทะเบียนบ้าน Same as Residence Registration Address</label><br>

        <input type="checkbox" id="contactAddressSameAsFlag_work" >
        <label for="contactAddressSameAsFlag_work">ตามที่ทำงาน Same as Workplace Address</label><br>

        <input type="checkbox" id="contactAddressSameAsFlag_oth" checked >
        <label for="contactAddressSameAsFlag_oth">อื่นๆ (โปรดระบุ) Other (Please specify)</label><br>


        <div>เลขที่ Address No...<small class='txtFill'><%=obj.data.data.contact? obj.data.data.contact.no:'....' %></small>...หมู่ที่ Moo No ..<small class='txtFill'><%=obj.data.data.contact? obj.data.data.contact.moo:'...' %></small>..อาคาร/หมู่บ้าน Building/Mooban..<small class='txtFill'><%=obj.data.data.contact? obj.data.data.contact.villageType.displayName:'...' %></small>..<small class='txtFill'><%=obj.data.data.contact? obj.data.data.contact.building:'...' %></small>..
        </div>
        <div>ชั้น Floor..<small class='txtFill'><%=obj.data.data.contact? obj.data.data.contact.floor:'...' %></small>..
        ซอย Soi ...<small class='txtFill'><%=obj.data.data.contact? obj.data.data.contact.soi:'...' %></small>...
        ถนน Road ..<small class='txtFill'><%=obj.data.data.contact? obj.data.data.contact.road:'...' %></small>..</div>
        <div>ตำบล Sub-district/Tambon ..<small class='txtFill'><%=obj.data.data.contact? obj.data.data.contact.subDistrict:'...' %></small>.. อำเภอ District/Amphur ..<small class='txtFill'><%=obj.data.data.contact? obj.data.data.contact.district:'...' %></small>..</div>
        <div>จังหวัด Province ..<small class='txtFill'><%=obj.data.data.contact? obj.data.data.contact.province:'...' %> </small>..
        รหัสไปรษณีย์Postal Code ..<small class='txtFill'><%=obj.data.data.contact? obj.data.data.contact.postalCode:'...' %></small>..
        ประเทศ Country ..<small class='txtFill'><%=obj.data.data.contact? obj.data.data.contact.country:'...' %></small>..</div>
        <div>โทรศัพท์Telephone ..<small class='txtFill'><%=obj.data.data.contact? obj.data.data.contact.phoneNumber:'...' %></small>.. </div>

<%}%>



<p class='blueBG'>3. ข้อมูลเพิ่มเติม Background</p>
<div id='occupation'>

<div class="blueText">อาชีพ Occupation*</div>
<div>
  <%
  for (i in obj.data.data.financialInfo) {
    occ = obj.data.data.financialInfo[i]
    if( occ.questionId=='occupationId' && occ.answer.length>0){
      %>

      <input type="checkbox"  check>
      <%=occ.answer[0].label %>
      </div>

      <%
    }
  }
  %>


<!--
  <div>
  <input type="checkbox" >
  เกษตรกร Agriculturist
  </div>
  <div>
  <input type="checkbox" >
  พระภิกษุ/ นักบวช Buddhist Monk / Priest
  </div>
  <div>
  <input type="checkbox" >
  เจ้าของกิจการ / ธุรกิจส่วนตัว Business Owner
  </div>
  <div>
  <input type="checkbox" >
  เจ้าของกิจการ / ธุรกิจส่วนตัว Business Owner
  </div>
  <div>
  <input type="checkbox" >
  พนักงานบริษัท Corporate Employee
  </div>

  <div>
  <input type="checkbox" >
  แพทย์/ พยาบาล Doctor / Nurse
  </div>

  <div>
  <input type="checkbox" >
  กิจการครอบครัว Family Business
  </div>

  <div>
  <input type="checkbox" >
  ข้าราชการ Government Employee
  </div>

 <div>
  <input type="checkbox" >
  แม่บ้าน / พ่อบ้าน Housewife
  </div>

 <div>
  <input type="checkbox" >
  นักลงทุน Investor
  </div>

  <div>
  <input type="checkbox" >
  นักการเมือง Politician
  </div>

  <div>
  <input type="checkbox" >
  เกษียณอายุ Retirement
  </div>

  <div>
  <input type="checkbox" >
  อาชีพอิสระ Self-Employed
  </div>

  <div>
  <input type="checkbox" >
  พนักงานรัฐวิสาหกิจ State Enterprise Employee
  </div>

  <div>
  <input type="checkbox" >
  นักเรียน / นักศึกษา Student
  </div>

 <div>
  <input type="checkbox" >
  ครู/ อาจารย์ Teacher
  </div>

 <div>
  <input type="checkbox" >
  อื่นๆ (โปรดระบุ) Other (Please specify)
  </div>
-->
</div> <!--occupation-->

<div id='businessType*'>
	<div class="blueText">ประเภทธุรกิจ Business Type*</div>

    <div>
    <input type="checkbox" >
    ค้าของเก่า / วัตถุโบราณ Antique Trading
    </div>
    <div>
    <input type="checkbox" >
    อาวุธยุทธภัณฑ์ Armament
    </div>
    <div>
    <input type="checkbox" >
    คาสิโน / การพนัน Casino / Gambling
    </div>
     <div>
    <input type="checkbox" >
    สหกรณ์/ มูลนิธิ/ สมาคม / สโมสร / วัด / มัสยิด Co-operative /
Foundation / Association / Club / Temple / Mosque
    </div>
	<div>
    <input type="checkbox" >
    โอนและรับโอนเงินทั้งภายในและต่างประเทศ
Domestic or International Money Transfer
    </div>
    <div>
    <input type="checkbox" >
    สถานบริการตามกฎหมายว่าด้วยสถานบริการ Entertainment Business
    </div>
    <div>
    <input type="checkbox" >
    การเงิน / ธนาคาร Financial Service / Banking
    </div>
    <div>
    <input type="checkbox" >
    แลกเปลี่ยนเงินตราต่างประเทศ Foreign Currency Exchange
    </div>
    <div>
    <input type="checkbox" >
    โรงแรม / ภัตตาคาร Hotel / Restaurant
    </div>
    <div>
    <input type="checkbox" >
    ประกันภัย / ประกันชีวิต Insurance / Assurance
    </div>
    <div>
    <input type="checkbox" >
    ค้าอัญมณี/ ทอง Jewelry / Gold Trading
    </div>
    <div>
    <input type="checkbox" >
    อสังหาริมทรัพย์ Property / Real Estate
    </div>
    <div>
    <input type="checkbox" >
    นายหน้าจัดหางาน Recruitment Agency
    </div>
    <div>
    <input type="checkbox" >
    ธุรกิจนำเที่ยว / บริษัททัวร์ Travel Industry / Travel Agency
    </div>
    <div>
    <input type="checkbox" >
    มหาวิทยาลัย / โรงเรียน / สถานศึกษา
University / School / Education Center
    </div>
    <div>
    <input type="checkbox" >
    อื่นๆ (โปรดระบุ) Other (Please specify)............
    </div>

</div>   <!--Business Type*-->

<div id="source_country">
	<div class="blueText">แหล่งที่มาของรายได้จากประเทศ Source of Income's Country*</div>
	<div>
    <input type="checkbox" >
    ประเทศไทย Thailand
    </div>
    <div>
    <input type="checkbox" >
    อื่นๆ (โปรดระบุ) Other (Please specify) ................
    </div>

</div>

<div id="source">
<div class="blueText">แหล่งที่มาของรายได้Source of Income*</div>
<div>(เลือกได้มากกว่า 1 ข้อ You can select more than 1 item)</div>
	<div>
    <input type="checkbox" >
    เงินเดือน Salary
    </div>
    <div>
    <input type="checkbox" >
    เงินออม Savings
    </div>
    <div>
    <input type="checkbox" >
    เงินเกษียณ Retirement Fund
    </div>
    <div>
    <input type="checkbox" >
    มรดก Inheritance
    </div>
    <div>
    <input type="checkbox" >
    การลงทุน Investment
    </div>
    <div>
    <input type="checkbox" >
    ประกอบธุรกิจ Own Business
    </div>
    <div>
    <input type="checkbox" >
    อื่นๆ (โปรดระบุ) Other (Please specify).................
    </div>
</div>

<div id="income">
<div class="blueText">รายได้ต่อเดือน (บาท) Monthly Income (Baht)*</div>
	<div>
    <input type="checkbox" >
    < 15,000
    </div>
	<div>
    <input type="checkbox" >
    15,001 - 30,000
    </div>
    <div>
    <input type="checkbox" >
    30,001 - 50,000
    </div>
    <div>
    <input type="checkbox" >
    50,001 - 100,000
    </div>
    <div>
    <input type="checkbox" >
    100,001 - 500,000
    </div>
    <div>
    <input type="checkbox" >
    500,001 - 1,000,000
    </div>
	<div>
    <input type="checkbox" >
    > 1,000,000
    </div>

</div>

<div id="income">
<div class="blueText">ท่านเคยมีประวัติการกระทำผิดกฏหมายฟอกเงินหรือไม่*<br>
Do you have any money laundering infringement record?</div>
<div>
    <input type="checkbox" >
    ใช่Yes
    </div>
	<div>
    <input type="checkbox" >
    ไม่ใช่No
    </div>
</div>


<div id="income">
<div class="blueText">ท่านเป็นนักการเมืองหรือเกี่ยวข้องกับนักการเมือง หรือบุคคลที่มีสถานภาพทางการเมืองหรือไม่*<br>Are you a politician or connected to any Political person?</div>
<div>
    <input type="checkbox" >
    ใช่Yes
    </div>
	<div>
    <input type="checkbox" >
    ไม่ใช่No
    </div>
</div>


<div id="income">
<div class="blueText">ท่านเคยถูกปฏิเสธการรับทำธุรกรรมทางการเงินจากสถาบันทางการเงินอื่นหรือไม่*<br>
Have you ever been denied to process transaction from other financial institutions?</div>
<div>
    <input type="checkbox" >
    ใช่Yes
    </div>
	<div>
    <input type="checkbox" >
    ไม่ใช่No
    </div>
</div>

<div id="applicaint_sign">
<p>................................</p>
<p>(................................)</p>
<p>ผู้ขอเปิดบัญชีApplicant Signature</p>
</div>

</div> <!-- class = 'newPage' <!--Page 2-->
<div>ผู้แนะนำลูกค้า Referral ......................</div>
<div>ผู้รับเปิดบัญชีAccepted By ........................</div>

<div class = 'newPage'>
  <p class='blueBG'>
    4. การเปิดบัญชีกองทุนรวม Account Information - For Mutual Fund
    บัญชีนี้เปิดเพื่อตนเองเท่านั้น For your own account
    </p>

    <p class='blueBG'>ที่อยู่สำหรับจัดส่งเอกสาร Mailing Address*</p>
    <div><input type="checkbox" >ส่งทางอีเมล์ E-mail</div>
    <div><input type="checkbox" >ตามทะเบียนบ้าน Same as Residence Registration Address</div>
    <div><input type="checkbox" >ตามที่อยู่ปัจจุบัน Same as Current Address</div>
    <div><input type="checkbox" >ตามที่อยู่ที่ทำงาน Same as Workplace Address</div>
    <div><input type="checkbox" >อื่นๆ (โปรดระบุ) Other (Please specify)..............</div>

  <div >
      <div>เลขที่ Address No .........
      หมู่ที่ Moo No. .........
      อาคาร/หมู่บ้าน Building/Mooban ..........
    </div>

    <div>      ชั้น Floor .........
      ซอย Soi ....................
      ถนน Road ....................
    </div>
    <div>
      ตำบล Sub-district/Tambon
      อำเภอ District/Amphur
    </div>
    <div>
      จังหวัด Province
      รหัสไปรษณีย์Postal Code
      ประเทศ Country
    </div>
      โทรศัพท์Telephone
  </div>

  <p class='blueBG'>วัตถุประสงค์การลงทุน Investment Objective*</p>
  <p>(เลือกได้มากกว่า 1 ข้อ You can select more than 1 item)</p>
  <div><input type="checkbox" >เพื่อการลงทุนระยะสั้น Short-term Investment</div>
  <div><input type="checkbox" >เพื่อเก็บออม For Savings</div>
  <div><input type="checkbox" >เพื่อการลงทุนระยะยาว Long-term Investment</div>
  <div><input type="checkbox" >เพื่อสิทธิประโยชน์ทางภาษีFor Tax Benefits</div>
  <div><input type="checkbox" >เพื่อการเกษียณ Retirement Investment</div>
  <div><input type="checkbox" >อื่นๆ (โปรดระบุ) Other (Please specify)..............</div>

  <p class='blueBG'> บัญชีธนาคารสำหรับหักเงินเพื่อการซื้อหน่วยลงทุน Bank Account for Subscription*</p>

  <table >
    <th>ลำดับ <br>No.</th>
    <th>บัญชีหลัก <br>Main Bank Account</th>
    <th>ธนาคาร <br>Bank</th>
    <th>สาขา <br>Branch</th>
    <th>เลขบัญชี <br>Account No.</th>
    <th>ชื่อบัญชี <br>Account Name</th>

    <tr>
      <td></td>
      <td><input type="checkbox" ></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="checkbox" ></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

  </table>

  <div>
    <p><ul>หมายเหตุ</ul></p>
    <p>บัญชีธนาคารสำหรับหักเงินเพื่อการซื้อหน่วยลงทุน การขายหน่วยลงทุนและรับเงินปันผล ผู้ถือหน่วยและเจ้าของบัญชี ต้องเป็นบุคคลเดียวกัน</p>
  </div>
  <div>
    <p><ul>Remark</ul></p>
    <p>Bank Account for Unit Investment Subscription, Unit Investment Redemption and Paid Dividend must be the same person as unitholder and account owner.</p>
  </div>

  <div>
  <p class='blueBG'>บัญชีธนาคารสำหรับการขายหน่วยลงทุนและรับเงินปันผล Bank Account for Redemption Proceeds and Dividend*</p>
  <div><input type="checkbox" >ตามบัญชีธนาคารสำหรับการซื้อหน่วยลงทุน Same as Bank Account for Subscription</div>
  <div><input type="checkbox" >อื่นๆ (โปรดระบุ) Other (Please specify)</div>
  <table >
    <th>ลำดับ <br>No.</th>
    <th>บัญชีหลัก <br>Main Bank Account</th>
    <th>ธนาคาร <br>Bank</th>
    <th>สาขา <br>Branch</th>
    <th>เลขบัญชี <br>Account No.</th>
    <th>ชื่อบัญชี <br>Account Name</th>

    <tr>
      <td></td>
      <td><input type="checkbox" ></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="checkbox" ></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>

  <div>
<p>.......................</p>
<p>( )</p>
<p>ผู้ขอเปิดบัญชีApplicant Signature</p>
  </div>

</div>


</div> <!--<div class = 'newPage'>-->
  *Required
  เลขที่ลูกค้า Customer Account No.*
  <div>
    ประเภทบัญชีAccount Type*
    <br>
    <input type="checkbox" >บัญชีเปิดชื่อ Segregate
    <input type="checkbox" >บัญชีปิดชื่อ Omnibus
  </div>

  <div>
    เลขที่ใบอนุญาตผู้แนะนำการลงทุน Investment Consultant's License No. .................................
  </div>

    </body>
</html>
