<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

table {
    border: solid;
    border-width: thin;
    width: 580pt;
}

table td p{
color:gray;
}

.header1 {
  text-align: start;
  font-size: 15.0pt;
  color: #0C45A1;
  text-indent: 5px;
}
.header2 {
    background-color: #1365BF;
    color: white;
    width:100%;
    text-indent: 5px;
}
.header3 p{
    color: #0C45A1;
    font-weight: bold;
    text-indent: 5px;
}

.content1{
text-indent: 20px;
}

.content2{
text-indent: 50px;
}

.sameLine{
display: inline-block
}

.tab{
  margin-left: 2.5em;
}
.underDotted {
    border-bottom: 1px dashed #000;
    text-decoration: none;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
</style>
</head>
<body>

<table>
<tbody>
<tr>
<td >
<span class='header1 '>FundConnext </span>
</td>
</tr>

<tr class='header2'>
  <td>
  1. ข้อมูลส่วนบุคคลสำหรับประกอบการเปิดบัญชีกองทุนรวม Personal Information - For Mutual Fund Account
  </td>
 </tr>

<tr class='content1'>
  <td>
  <p>ประเภทบัตร*  {{identificationCardType}} </p> </td>
 </tr>
<tr class='content2 '>
  <td >
  <p >เลขที่ No. <span class="underDotted"> {{Cust_Code}}</span>
    {{#if (isnull passportCountry)}}
     Issuing Country <span class="underDotted"> {{passportCountry}} </span>
     {{/if}}
    </p>
<p class='sameLine'>
  วันหมดอายุ (ค.ศ.) Expiry Date: (ฺA.D.) <span class="underDotted">{{dateFormat cardExpiryDate 'DD/MM/YYYY'}} </span>
   {{#if (isNA cardExpiryDate)}}
     บัตรตลอดชีพ Not Expired <span class="underDotted"> {{passportCountry}}</span>
   {{/if}}

  </p>
  </td>
 </tr>

<tr class='content1'>
  <td>
  <p>เพศ Gender*</p> </td>
 </tr>
{{!--
 <tr class='content1'>
  <td>
  <p>คำนำหน้า Title* {{title}}</p> </td>
 </tr> --}}
 <tr class='content1'>
  <td>
  <p class='sameLine'>ชื่อ - นามสกุล (ภาษาไทย)* <span class="underDotted"> {{title}} {{FullName_th}} </span>
  <span class="tab" >มือถือ Mobile* </span> <span class="underDotted">{{Mobile}} </span> </p> </td>
 </tr>

 <tr class='content1'>
  <td>
  <p class='sameLine'>Name - Surname (English)* <span class="underDotted"> {{title_e}} {{FullName_en}} </span>
    <span class="tab" >อีเมล์ E-mail</span>  <span class="underDotted">{{Email}} </span></p></td>
 </tr>


 <tr class='content1 sameLine'>
  <td >
  <p>วันเดือนปีเกิด (ค.ศ.) Date of Birth (ฺA.D.)*  {{dateFormat Birth_Day 'DD/MM/YYYY'}}
    <span class="tab" >สัญชาติ Nationality* </span>  <span class="underDotted">{{Nationality}} </span></p>
 </tr>

  <tr class='content1'>
  <td><p>
  สถานภาพ Marital Status* <span class="underDotted"> {{MaritalStatus}}</span>
  </p></td>
 </tr>

 <tr class='header3'>
  <td>
  <p>ข้อมูลคู่สมรส (ถ้ามี) Spouse Information (if any)</p>
  </td>
 </tr>
 <tr class='content1'>
  <td>
  <p>ประเภทบัตร*  {VAL1}</p> </td>
 </tr>
<tr class='content2'>
  <td >
  <p >เลขที่ No.  {123456789}        Issuing Country {Thai}</p>
  <p class='sameLine'>วันหมดอายุ (ค.ศ.) Expiry Date: (ฺA.D.) {01/01/2020}    บัตรตลอดชีพ Not Expired</p>
  </td>
 </tr>
 <tr class='content1'>
  <td>
  <p>คำนำหน้า Title*</p> </td>
 </tr>
 <tr class='content1'>
  <td>
  <p>ชื่อ - นามสกุล Name - Surname*    xxxx - yyyy  โทรศัพท์ Telephone{08-97765-331}</p>
  </td>
 </tr>

 <tr class='header3'>
  <td>
  <p>จำนวนบุตรหรือบุตรบุญธรรมที่ยังไม่บรรลุนิติภาวะ (อายุไม่ถึง 20 ปี และ ยังไม่ได้สมรส)</p>
  <p>Number of children who is under 20 and not married</p>
  </td>
 </tr>

 <tr class='content1'>
  <td>
  <p>ประเภทบัตร*  {VAL1}</p> </td>
 </tr>

<tr class='content2'>
  <td >
  <p >เลขที่ No.  {123456789}        Issuing Country {Thai}</p>
  <p class='sameLine'>วันหมดอายุ (ค.ศ.) Expiry Date: (ฺA.D.) {01/01/2020}    บัตรตลอดชีพ Not Expired</p>
  </td>
 </tr>
 <tr class='content1'>
  <td>
  <p>คำนำหน้า Title*</p> </td>
 </tr>
 <tr class='content1'>
  <td>
  <p>ชื่อ - นามสกุล Name - Surname*    xxxx - yyyy  โทรศัพท์ Telephone{08-97765-331}</p>
  </td>
 </tr>
  <tr class='content1'>
  <td>
  <p>วันเดือนปีเกิด (ค.ศ.) Date of Birth (ฺA.D.) </p>
  </td>
 </tr>

 <!--Address-->
 <tr class='header2'>
  <td>2. ที่อยู่ Address </td>
 </tr>

 <tr class='header3'>
  <td>
  <p>ที่อยู่ตามทะเบียนบ้าน / ที่อยู่ในประเทศเจ้าของสัญชาติ </p>
  <p>Residence Registration Address / Address in home country*</p>
  </td>
 </tr>

<tr class='content1'>
 <td>
  <p>เลขที่ Address No.        หมู่ที่ Moo No.         อาคาร/หมู่บ้าน Building/Mooban </p>
  <p>ชั้น Floor ซอย Soi       ถนน Road</p>
  <p>ตำบล Sub-district/Tambon    อำเภอ District/Amphur </p>
  <p>จังหวัด Province รหัสไปรษณีย์ Postal Code </p>
  <p>โทรศัพท์ Telephone</p>
 </td>
 </tr>
 <tr class='header3'>
  <td>
  <p>ที่อยู่ที่ทำงาน Workplace Address* </p>
  </td>
 </tr>

 <tr class='content1'>
  <td>
  <p>
  <input type="radio" name="workAddr">ตามทะเบียนบ้าน Same as Residence Registration Address
  <input type="radio" name="workAddr">อื่นๆ (โปรดระบุ) Other (Please specify)
  </p>
  <p>บริษัท Company name</p>
  </td>
 </tr>

 <tr class='header3'>
  <td>
  <p>ที่อยู่ปัจจุบัน Current Address*</p>
  </td>
 </tr>

  <tr class='content1'>
  <td>
  <p>
  <input type="radio" name="currentAddr">ตามทะเบียนบ้าน Same as Residence Registration Address
  <input type="radio" name="currentAddr">ตามที่ทำงาน Workplace Address
  <input type="radio" name="currentAddr">อื่นๆ (โปรดระบุ) Other (Please specify)
  </p>
  </td>
 </tr>
 <!--Background-->
 <tr class='header2'>
  <td>3. ข้อมูลเพิ่มเติม Background</td>
 </tr>

 <tr class='header3'>
  <td>
  <p>อาชีพ Occupation*</p>
  </td>
 </tr>

 <tr class='header3'>
  <td>
  <p>ประเภทธุรกิจ Business Type*</p>
  </td>
 </tr>

 <tr class='header3'>
  <td>
  <p>แหล่งที่มาของรายได้จากประเทศ Source of Income's Country*</p>
  </td>
 </tr>

  <tr class='header3'>
  <td>
  <p>แหล่งที่มาของรายได้ Source of Income*</p>
  </td>
 </tr>

 <tr class='header3'>
  <td>
  <p>ต่อเดือน (บาท) Monthly Income (Baht)*</p>
  </td>
 </tr>

  <tr class='header3'>
  <td>
  	<p>ท่านเคยมีประวัติการกระทำผิดกฏหมายฟอกเงินหรือไม่*</p>
	<p>Do you have any money laundering record?</p>
  </td>
 </tr>
<tr class='content1'>
 <td>
 <input type="radio" name="moneyLon">ใช่ Yes
  <input type="radio" name="moneyLon">ไม่ใช่ No
 </td>
 </tr>

 <tr class='header3'>
  <td>
  	<p>ท่านเป็นนักการเมืองหรือเกี่ยวข้องกับนักการเมือง หรือบุคคลที่มีสถานภาพทางการเมืองหรือไม่*</p>
	<p>Are you a politician or connected to any Political person?</p>
  </td>
 </tr>
<tr class='content1'>
 <td>
 <input type="radio" name="PoliticalRelate">ใช่ Yes
  <input type="radio" name="PoliticalRelate">ไม่ใช่ No
 </td>
 </tr>


<tr class='header3'>
  <td>
  	<p>ท่านเคยถูกปฏิเสธการรับทำธุรกรรมทางการเงินจากสถาบันทางการเงินอื่นหรือไม่*</p>
	<p>Have you ever been denied to process transaction from other financial institutions?</p>
  </td>
 </tr>

 <tr class='content1'>
 <td>
 <input type="radio" name="rejectFin">ใช่ Yes
  <input type="radio" name="rejectFin">ไม่ใช่ No
 </td>
 </tr>

</tbody>
</table

</body>
</html>
